
	
 *{
 	margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
 }

 ul{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
ul li{
	display: inline-block;
	 line-height: 80px;

}
 ul li a{
	list-style-type: none;
	font-size: 15px;
	margin-right: 20px;
	margin-left: 20px;
	
}
.section1{
text-align: center;
background-image: url(ord.jpg);
background-repeat: no-repeat;
background-size: cover;
color: #fff;
padding-bottom: 60px;
padding-top: 70px;
}
h4{
	margin-left: 555px;
	padding: 10px;
background-color: #111;
text-align: center;
width:16%;
padding-top: 10px;
padding-bottom: 10px;
}

#img{
	width: 80px;
height: 60px;
	margin-top: 5px;
	border-radius: 10px;
}
img{
	width: 80px;
height: 60px;
	margin-top: 5px;
	border-radius: 10px;
}
.images{
	
}
.icones{
		display: flex;
		justify-content: space-around;
		margin-top: 15px;
		width: 100%;
		height: 100%;
	}
	
	.icones img{
		border-radius: 200%;
		border :2px solid aqua; 
		height: 40px;
		width: 40px;
		padding: 15px;
	}
	
	.icones p h3{
		display: block;
		font-size: 12px;
		color: #fff;
		width: 100%;
		height: 100%;
	}

	.icones i{
	width: 50px;
	height: 50px;
	border-radius: 50%;

	}
	i{

	}

.section3{
	background-color: #F0F0F2;
	display: flex;
		justify-content: space-around;
	padding-bottom: 30px;
}

.section4{
	background-color: #77B5FE;
	text-align: center;
	color: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
}
.section2{
	text-align: center;
	background-color: #F0F0F2;
	margin-top: 30px;
	padding-bottom: 40px;
	padding-top:30px
}
.logo{
	width: 130px;
	height: 130px;
}
table tr td{
	border: black solid 2px;
	display:inline-block;
	justify-content: space-between;
	padding: 125px;
	margin-left: 1px;
margin-right: 2px;
}
table{
	border-collapse: collapse;
}
.couleur1{background-color: #87CEEB;}
.couleur2{background-color:#77B5FE;}
.couleur3{background-color:#F0F0F2;}
.couleur4{background-color:#dddddd;}




.tb2 table tr td{
	border: black solid 2px;
	display:inline-block;
	justify-content: space-between;
	padding: 125px;
	margin-left: 1px;
margin-right: 2px;
}
.tb2 table{
	border-collapse: collapse;
}
.orange{background-color:#4B0082;}
.vert{background-color: #bbbbbb;}
.bleu{background-color:#235A8C;}
.rouge{background-color: #70726E;}



.progress-bar{
		position: relative;
		background-color:#fff;
		max-width: 550px;
		margin: 0 15px;
		padding: 5px 10px;
		border-radius: 7px;
		width: 100%;
	}
	.progress-bar .skill-box{
		width:100%;
		margin: 25px 0;

	}
	.progress-bar.title{
		display: block;
		font-size: 14px;
		font-weight: 600;
		color: #333;
	}
.skill-box .skill-bar{
	width: 90%;
	height: 8px;
	background: rgb(0, 0, 0, 0.1);
	border-radius: 6px;
	margin-top: 6px;
}

.skill-bar .skill-per{
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	background-color:#4070f4;
	animation: progress 0.4s ease;
	border-radius: 5px;
}
.skill-per .tooltip{
	position: absolute;
	right: -14px;
	top: -28px;
	font-size: 12px;
	font-weight: 500;
	color: #333;
	padding: 2px 6px;
	border-radius: 3px;
	z-index: 1;
}





 #progress-bar{
		position: relative;
		background-color:#fff;
		max-width: 550px;
		margin: 0 15px;
		padding: 5px 10px;
		border-radius: 7px;
		width: 100%;
	}
	 #progress-bar .skill-box{
		width:100%;
		margin: 25px 0;

	}
	 #progress-bar.title{
		display: block;
		font-size: 14px;
		font-weight: 600;
		color: #333;
	}
 #skill-box  #skill-bar{
	width: 90%;
	height: 8px;
	background: rgb(0, 0, 0, 0.1);
	border-radius: 6px;
	margin-top: 6px;
}

 #skill-bar  #skill-per{
	position: relative;
	display: block;
	height: 100%;
	width: 90%;
	background-color:#4070f4;
	animation: progress 0.4s ease;
	border-radius: 5px;
}
 #skill-per #tooltip{
	position: absolute;
	right: -14px;
	top: -28px;
	font-size: 12px;
	font-weight: 500;
	color: #333;
	padding: 2px 6px;
	border-radius: 3px;
	z-index: 1;
}

.competence{
	margin-left: 790px;
	margin-top: -105px;
	width: 40%;
}
.competence .skill-bar  .skill-per{
	position: relative;
	display: block;
	height: 100%;
	width: 96%;
	background-color:#4070f4;
	animation: progress 0.4s ease;
	border-radius: 5px;
}




#competence{
	margin-left: 790px;
	margin-top:50px;
	width: 40%;
}
#competence #skill-bar  #skill-per{
	position: relative;
	display: block;
	height: 100%;
	width: 90%;
	background-color:#4070f4;
	animation: progress 0.4s ease;
	border-radius: 5px;
}

.para{
	padding-right: 10px;
	font-size: 10px;
	padding-left: 8px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #fff;
	margin-top: -10px;
	
}
#div{color: green;}
.im{
	height: 140px;
	width: 140px;

}
.images{
	display:inline-block;
	justify-content: center;
	align-items: center;
color: #111;
width: 140px;
padding:7px;
margin-right: 10px;
}

.paragraphe{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer{

		background-color:#F0F0F2;
		margin-top: 5px;
		padding: 10px;

	}
	.info p{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
		color: #111;
margin-left:45px;

	}
	.fb{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.twitter {
		margin-left: 30px;
	}
	.instagram{
		margin-left: 30px;
	}
      h1{
      	display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		padding-top: 20px;
		padding-bottom: 10px;

      }
      h2{
      	background-color:#F0F0F2;
      	text-align: center;
      	padding: 20px;
      	
      }
      @media(max-width:800px){
.menu{
	display:block;
}

.section1{
	width: 100%;
	display: none;
	justify-content: center;
}
.icones{
	display:inline-flex;
}

table{
	display: block;
}
.progress-bar #progress-bar{
	display: inline;
}
.competence#competence{
	display: none;
}
      }